--flash NOR
--mtdparts "192k(u-boot),64k(u-boot-env),64k(factory),64k(factory),64k(crash),64k(cfg_bak),1m(overlay),-(firmware)"
--model "Xiaomi_Mi_Router_4a/3g-v2"
--kernel-offset 0x180000
--reset-pin 18
--sysled-pin 8
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-128MiB
--baudrate 115200
--yes
